/* google fonts */
@import url('https://fonts.googleapis.com/css2?family=PT+Serif:wght@700&family=Poppins:wght@300;400;500;600&family=Roboto+Slab:wght@600&family=Source+Sans+Pro:wght@300&display=swap');

* {
    padding: 0;
    margin: 0;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
    font-family: "poppins", sans-serif;
}

:root{
    --main-color: #22cf91;
    --bg-color: rgb(10,25,47);
    --text-color: rgb(157, 150, 167);
    --hover: #22cf91;
    --big-font: 3.2rem;
    --medium-font: 1.8rem;
    --p-font: 0.941rem;
    --name-color: rgb(211, 210, 255);

}
html{
    scroll-behavior: smooth;
}

body{
    background: var(--bg-color);
    color: var(--text-color);
}

/* for darkmode */
body.active{
    --text-color: rgb(10,25,47);
    --bg-color: #fff;
    --name-color: rgb(10,25,47);
}

section{
    padding: 50px 10%;
}

*::selection{
    color: var(--bg-color);
    background: var(--main-color);
}
/* ======================================= Navigation Bar ======================================= */

header{
    position: fixed;
    width: 100%;
    top: 0;
    right: 0;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: var(--bg-color);
    padding: 13px 10%;
    transition: 0.2s;
}

.logo{
    font-size: 1.61rem;
    font-weight: 600;
    color: var(--text-color);
}
.logo:hover{
    color: var(--hover);
}
.navbar{
    display: flex;
}
.navbar a{
    font-size: 1rem;
    padding: 10px 20px;
    color: var(--text-color);
    font-weight: 500;
}
.navbar a:hover{
    color: var(--hover);
}

#menu-icon{
    font-size: 24px;
    cursor: pointer;
    z-index: 10001;
    display: none;
}

#darkmode{
    font-size: 22px;
    cursor: pointer;
}


/* ======================================= Home Section ======================================= */

.home{
    position: relative;
    width: 100%;
    min-height: 70vh;
    display: grid;
    grid-template-columns: 0fr 1fr;
    align-items: center;
    gap: 1rem;
}

.home-text span{
    font-size: var(--p-font);
    font-weight: 400;
    color: #22cf91;
}
.home-text h1{
    color: var(--name-color);
    font-size: var(--big-font);
}
.home-text h2{
    font-size: 1.1rem;
    font-weight: 400;
    font-family: monospace;
}

.home-text p{
    font-size: var(--p-font);
    font-weight: 400;
    margin: 0.7rem 0 1rem;
}

.social{
    display: flex;
    flex-direction: column;
    margin-top: 3rem;
    padding-right: 3rem;
    
}

.social a{
    margin-bottom: 1rem;
    font-size: 22px;
    color: var(--text-color);
}

/* Hover */
.social a:hover{
    color: var(--hover);
}

/* button */
.btn{
    display: inline-block;
    background: var(--bg-color);
    color: var(--text-color);
    padding: 0.5rem 1.1rem;
    border: 2px solid #22cf91;

}
.btn:hover{
    background: var(--hover);
}

/* <!-- ============================ About Section ===================== --> */

.heading{
    text-align: start;
    margin-top: 8px;
}
.heading h2{
    color: var(--name-color);
    font-size: 30px;
}

.about-container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
    margin-top: 2rem;
}
.about-img img{
    margin-left: 8rem;
    width: 50%;
    border-radius: 0.3rem;
}

.about-text p{
    font-size: var(--p-font);
    font-weight: 400;
    text-align: justify;
}

/* experience */
.info{
    margin: 2rem 0;
}
.experience{
    display: flex;
    flex-direction: row;
    margin: 1rem 0
}
.experience .bx{
    color: #22cf91;
}

.section-1{
    flex: 1;
}
.section-2{
    flex: 1;
}
/* <!-- ============================ portfolio  ===================== --> */

  .portfolio-content {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, auto));
    gap: 1rem;
    margin-top: 2rem;
  }
  .portfolio-img {
    overflow: hidden;
    border-radius: 0.5rem;
  }
  .portfolio-img img {
    width: 100%;
    display: block;
  }
  .portfolio-img img:hover {
    transform: scale(1.1);
    transition: 1s;
  }
/* <!-- ============================ Footer  ===================== --> */
  .contact {
    display: grid;
    place-items: center;
    padding: 20px;
    color: var(--text-color);
    padding: 13% 0;
  }
  .contact h2 {
    font-size: 1.5rem;
    margin-bottom: 1.6rem;
  }
  .contact p{
    width: 501px;
    text-align: center;
    margin-bottom: 2rem;
  }
  .contact-social a i{
    color: rgb(10, 26, 208);
    font-size: 25px;
    margin-left: 10px;
    text-align: center;
    line-height: 40px;
    background-color: #fff;
    border-radius: 50%;
    width: 40px;
    height: 40px;
  }
  /* ==================== copyright ========================== */
  .copyright {
    padding: 20px;
    background: var(--bg-color);
    text-align: center;
    color: var(--text-color);
  }
  .copyright a{
    color: #22cf91;
  }


/* ==================== Make it rensposive (MediaQuary) ========================== */

@media (max-width: 991px){

    header{
        padding: 18px 4%;
    }
    section{
        padding: 50px 4%;
    }
    .home .social{
        margin-top: 3rem;
    }
}

@media (max-width: 881px){
    :root{
        --big-font: 2.4rem;
        --medium-font: 1.2rem;
    }
    .home .social{
        margin-top: 3rem;
    }
}
@media (max-width: 768px){
    :root{
        --big-font: 2.4rem;
        --medium-font: 1.2rem;
    }
    header{
        padding: 11px 4%;
    }
    #menu-icon{
        display: initial;
        color: var(--text-color)
    }
    header .navbar{
        position: absolute;
        top: -500px;
        right: 0;
        left: 0;
        display: flex;
        flex-direction: column;
        background: var(--bg-color);
        box-shadow: 0 4px 4px rgb(0 0 0 / 10%);
        transition: 0.2s ease;
        text-align: center;
    }
    .navbar.active{
        top: 100%;
    }
    .navbar a{
        padding: 1.5rem;
        display: block;
        background: var(--bg-color);
    }
    #darkmode{
        position: absolute;
        top: 1.4rem;
        right: 2rem;
    }
    .home{
        min-height: 60vh;
    }
    .home .social{
        margin-top: 0;
        padding-right: 0;
    }
    .home-text{
        padding-left: 1.4rem;
    }

    .about-container{
        grid-template-columns: 1fr;
    }
    .about-img{
        display: flex;
        justify-content: center;
    }
    .about-img img{
        margin: 0;
    }
    .contact p{
        width: 486px;
    }
}

@media (max-width: 480px){
    :root{
        --big-font: 1.7rem;
        --medium-font: 1.1rem;
    }
    .home{
        min-height: 50vh;
        padding-bottom: 0px;    
    }
    .home-text{
        margin-top: 4rem;
    }
    .home-text span{
        font-size: 1rem;
    }
    .home-text h2{
        font-size: 0.9rem;
        font-weight: 500;
    }
    
    .home .social{
        margin-top: 3rem;
        padding-right: 0;
    }
    .about-img img{
        margin: 0;
        margin-top: 2rem;
        width: 60%;
    }
    .experience{
        font-size: 13px;
    }
    .about .heading{
        text-align: center;
    }
    .contact p{
        width: 390px;
    }
    .about .heading hr{
        margin: auto;
        width: 11rem;
    }
    .portfolio-content{
        grid-template-columns: repeat(auto-fit, minmax(200px, auto));
    }
}

